<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
  }
  body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background-color: rgb(125, 143, 158);
    font-family: sans-serif;
    justify-content: center;
  }
  .container {
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }
  
  ul {
    list-style-type: none; 
  }
  h2 {
    color: #fff;
    font-size: 2rem;
  }

  .todo-form {
    margin: 60px 0px;
    border-radius: 100px;
    border-bottom-color: aqua;
  }
  .todo-input {
    width: 250px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
  }
  .add-button {
    background-color: #0000ff;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px;
    font-size: 1.2rem;
  }
  .delete-button {
    float: right;
    background-color: red;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 3px 5px;
    margin-left: 20px;
    font-size: 1.1rem;
    font-weight: 220;
  }
  button:hover {
    cursor: pointer;
    background-color: #5967b1;
  }
  .todo-items {
    min-width: 350px;
  }
  .item {
    background-color: #fff;
    padding: 10px;
    font-size: 1.1rem;
  }
  .item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .checkbox {
    margin-right: 10px;
  }
  
  .checked { 
    text-decoration:line-through;
  }
